.footer {
  margin: 200px 0 50px;
  padding: 60px 20px 60px;
  border-top: 1px solid #ccc;
}

.footer > div {
  width: 1240px;
  margin: 0 auto;
}

.footer > div > :first-child img {
  width: 120px;
}
.footer > div > :nth-child(1) > * {
  margin-bottom: 12px;
}

.footer > div > :nth-child(1) ul {
  display: flex;
  margin-bottom: 24px;
}

.footer > div > :nth-child(1) ul li {
  color: #888;
  letter-spacing: -1px;
  font-size: 1rem;
  padding: 2px 12px;
}
.footer > div > :nth-child(1) ul li:first-child {
  padding: 2px 12px 2px 0;
}

.footer > div > :nth-child(1) ul .black {
  color: #333;
  font-weight: 600;
}

.footer > div > :nth-child(2) ul {
  flex-direction: column;
}

.footer > div > :nth-child(2) {
  width: 174px;
}

.footer > div > :nth-child(2) ul li {
  margin-bottom: 16px;
}

.footer > div > :nth-child(2) .lang_title {
  padding: 2px 6px;
  border-bottom: 1px solid #ccc;
}

.footer > div > :nth-child(2) .lang_drop .lang_container ul li {
  padding: 4px 6px;
}
.footer > div > :nth-child(2) .lang_drop {
  top: 100%;
}

.lang_drop .lang_container ul li {
  cursor: pointer;
}
.lang_drop .lang_container ul li:hover {
  background: #00b7ff;
}

.footer > div > :nth-child(2) ul > :nth-child(2) {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  margin-bottom: 110px;
}
.footer > div > :nth-child(2) ul > :nth-child(2) svg {
  cursor: pointer;
}

.footer > div > :nth-child(2) ul > :nth-child(3) {
  font-size: 1.4rem;
  color: #888;
}

.footer > div > :nth-child(2) ul > :nth-child(3) > * {
  margin-right: 14px;
}

.footer > :nth-child(2) ul {
  margin-top: 30px;
  display: flex;
}

.footer > :nth-child(2) ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 34px;
}

.footer > :nth-child(2) ul li img {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.footer > :nth-child(2) ul li p {
  display: inline-block;
  padding-left: 7px;
  vertical-align: middle;
  font-size: 11px;
  color: #888;
  line-height: 16px;
}
