.menuPage {
  margin-top: 85px;
}

.inner_box {
  width: 1200px;
  margin: 0px auto;
}

.menuPage .inner_box .menu_title .title {
  font-size: 2rem;
  padding: 20px 0;
  line-height: 2rem;
  font-weight: 100;
}

.menuPage .inner_box .menu_title p {
  padding-top: 2.3rem;
}

.menuPage .inner_box .menu_tab {
  padding: 5px 0 12px;
  border-bottom: 2px solid #333;
}

.menuPage .inner_box .menu_tab ul li {
  padding: 5px 0;
  font-size: 1rem;
  color: #888;
  margin: 0 16px;
  position: relative;
}

.menuPage .inner_box .menu_tab ul li::after {
  content: "";
  width: 1px;
  height: 12px;
  background: #999;
  position: absolute;
  right: 125%;
  top: 55%;
  transform: translateY(-50%);
}

.menuPage .inner_box .menu_tab ul > li:first-child {
  margin: 0 16px 0 0;
}

.menuPage .inner_box .menu_tab ul > li:first-child::after {
  content: "";
  width: 0;
}

.menuPage .inner_box .menu_tab ul .tab_act {
  font-weight: 600;
  color: #333;
}

/* Pizza */

.product .inner_box article .pizza_title {
  text-align: center;
  margin-top: 30px;
}

.product .inner_box article .grid4 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 30px 0 60px;
}

.product .inner_box article .grid2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 30px 0 60px;
}

.product .inner_box article .grid4 img,
.product .inner_box article .grid2 img {
  width: 100%;
}

.product .inner_box article .grid4 .pro_menu,
.product .inner_box article .grid2 .pro_menu {
  margin: 10px 0;
}

.product .inner_box article .grid4 .img_box,
.product .inner_box article .grid2 .img_box {
  position: relative;
}

.product .inner_box article .grid4 .img_box .screen {
  position: absolute;
  background: url('https://www.citypng.com/public/uploads/preview/hd-full-screen-white-icon-png-11637222048r3lrt1ejhc.png?v=2023051101')
    no-repeat;
  width: 32px;
  height: 32px;
  background-size: cover;
  bottom: 2px;
  right: 1px;
  cursor: pointer;
}

.product .inner_box article .grid2 .img_box .search {
  position: absolute;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY7OVgLVeAOaOF5ATE1nJvxHbAqvc4uhHBSw&usqp=CAU')
    no-repeat;
  width: 32px;
  height: 32px;
  background-size: cover;
  bottom: 2px;
  right: 1px;
  cursor: pointer;
}

.product .inner_box article .grid4 .txt_box,
.product .inner_box article .grid2 .txt_box {
  margin: 16px 0;
}
.product .inner_box article .grid4 .txt_box .pro_name,
.product .inner_box article .grid2 .txt_box .pro_name {
  word-break: break-all;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 600;
}

.product .inner_box article .grid4 .txt_box span {
  display: inline-block;
  position: relative;
}

.product .inner_box article .grid4 .txt_box .new::after {
  content: "NEW!";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin-left: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  position: absolute;
  top: -17px;
  text-align: center;
  width: 30px;
  height: 18px;
  line-height: 18px;
}
.product .inner_box article .grid4 .txt_box .signiture::after {
  content: "시그니쳐";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin-left: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  height: 18px;
  line-height: 18px;
  position: absolute;
  top: -17px;
  text-align: center;
  width: 42px;
}
.product .inner_box article .grid4 .txt_box .best::after {
  content: "BEST";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin-left: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  position: absolute;
  top: -17px;
  text-align: center;
  width: 30px;
  height: 18px;
  line-height: 18px;
}

.product .inner_box article .grid4 .txt_box .discount::after {
  content: "25%할인";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin-left: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  height: 18px;
  line-height: 18px;
  position: absolute;
  top: -17px;
  text-align: center;
  width: 42px;
}

.product .inner_box article .grid4 .txt_box .limit::after {
  content: "기간한정";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin-left: 58px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  height: 18px;
  line-height: 18px;
  position: absolute;
  top: -17px;
  text-align: center;
  width: 42px;
}

.product .inner_box article .grid4 .txt_box .pro_price {
  font-size: 1rem;
  font-weight: 700;
  margin: 12px 0;
}
.product .inner_box article .grid4 .txt_box .pro_price .priceL {
  margin-right: 16px;
  padding: 0 0 0 12px;
  position: relative;
}
.product .inner_box article .grid4 .txt_box .pro_price .priceL::after {
  content: "L";
  position: absolute;
  left: 0;
  color: red;
}

.product .inner_box article .grid4 .txt_box .pro_price .priceM {
  padding: 0 0 0 20px;
  position: relative;
}
.product .inner_box article .grid4 .txt_box .pro_price .priceM::after {
  content: "M";
  position: absolute;
  left: 0;
  color: red;
}

.product .inner_box article .grid4 .txt_box .pro_price .priceO {
  padding: 0 0 0 66px;
  position: relative;
}
.product .inner_box article .grid4 .txt_box .pro_price .priceO::after {
  content: "1인 피자";
  position: absolute;
  left: 0;
  color: red;
}

.product .inner_box article .grid4 .txt_box div p {
  color: #888;
  margin-bottom: 8px;
  letter-spacing: -1.2px;
  font-size: .9rem;
  line-height: 1.2rem;
}
.product .inner_box article .grid2 .txt_box div p {
  color: #888;
  margin-bottom: 8px;
  letter-spacing: -1.2px;
  font-size: 1rem;
  line-height: 1.2rem;
}

/* once */

.product .inner_box .banner_box {
  margin: 40px 0;
  width: 100%;
}

.product .inner_box .banner_box img {
  width: 100%;
}

.product .warning {
  margin: 30px 0;
  border-top: 1px solid #555;
  padding: 40px 0;
}

.product .warning p {
  color: #888;
  line-height: 1.4rem;
}

.warning > :first-child {
  margin-bottom: 20px;
}
.warning > :nth-child(2) > :nth-child(2) {
  width: 40%;
  text-align: center;
}

.warning > :nth-child(2) > :nth-child(2) small {
  margin-bottom: 20px;
}

.warning > :nth-child(2) > :nth-child(2) button {
  background: black;
  color: white;
  font-size: 0.85rem;
  line-height: 1.3rem;
  padding: 14px;
}

.product .warning small {
  font-size: 0.75rem;
  line-height: 1.4rem;
}

/* half */

.product .inner_box .half > div {
  width: 48%;
  margin: 30px 0;
}

.product .inner_box .half .left_dou {
  position: relative;
  width: 48%;
  height: auto;
}

.product .inner_box .half .left_dou > div.dou:nth-child(1) {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: url('https://cdn.dominos.co.kr/admin/upload/goods/mykitchen_Main.jpg')
    no-repeat;
  height: 575px;
  padding: 112px 0;
  margin-bottom: 50px;
  background-size: contain;
  width: 100%;
  height: 575px;
}

.product .inner_box .half .left_dou > p {
  position: sticky;
  top: 585px;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  color: #666;
}

.product .inner_box .half .left_dou > div:nth-child(1) {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: url('https://cdn.dominos.co.kr/domino/pc/images/menu/pizza_pan.png')
    no-repeat;
  height: 575px;
  padding: 112px 0;
  background-size: contain;
}

.product .inner_box .half .left_dou > div > img:nth-child(1) {
  position: sticky;
  top: 30%;
  width: 45%;
  height: 350px;
  object-position: left;
  object-fit: cover;
  transform: translateX(13%);
}

.product .inner_box .half .left_dou > div > img:nth-child(2) {
  position: sticky;
  top: 30%;
  width: 45%;
  height: 350px;
  object-position: right;
  object-fit: cover;
  transform: translateX(13%);
}

.product .inner_box .half .left_dou .clicked {
  opacity: 0; /* 투명도를 원하는 값으로 설정 */
}

.product .inner_box .half .select_box > div {
  border-top: 2px solid #333;
  padding: 10px 0 40px;
}
.product .inner_box .half .select_box > .my_title {
  border-top: 0px;
}

.product .inner_box .half .select_box > .my_title h2 {
  line-height: 1.34;
  margin-bottom: 10px;
}
.product .inner_box .half .select_box > .my_title button {
  margin-left: 20px;
  margin-bottom: 10px;
}

.product .inner_box .half .select_box > div ul {
  width: 100%;
}

.product .inner_box .half .select_box > div > ul > li {
  margin: 10px 0;
  border: 1px solid #aaa;
}

.product .inner_box .half .select_box > div > ul > li .lang_title {
  padding: 8px 12px;
}

.select_box .lang .lang_title svg {
  margin-top: -1px;
}

.select_box .lang > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.select_box .lang > div > .lang_drop {
  position: absolute;
  top: 105%;
  z-index: 3;
  width: 100%;
  background-color: #f1f1f1;
}

.lang > div > .lang_drop ul {
  border: 1px solid #333;
}

.lang > div > .lang_drop ul li {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  background: #f1f1f1;
}

.lang > div > .lang_drop ul li:hover {
  color: white;
}

.half .select_box > div h4 {
  margin-bottom: 20px;
}

.orange {
  color: #ff752d;
  cursor: pointer;
}

.half .select_box .select_dou > :nth-child(2) > div {
  margin-bottom: 12px;
  align-items: center;
  position: relative;
}

.half .select_box .select_dou > :nth-child(2) > div label {
  font-size: 1rem;
  margin-left: 8px;
  top: -4px;
  width: 100%;
}

.half .select_box .select_dou > :nth-child(2) > div span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-25%);
}

.half .select_box .select_topping {
  position: relative;
}
.half .select_box .select_topping .war_topping {
  position: absolute;
  top: 12px;
  right: 0;
}

.half .select_box .select_topping .accordion-content > p {
  font-size: .85rem;
  color: #888;
}

.half .select_box .select_topping .accordion-content > div > div,
.half .select_box .select_side > div,
.half .drink_ect > div {
  margin-top: 20px;
}

.half .select_box .select_topping .accordion-content > div ul,
.half .select_box .select_side > div ul {
  display: flex;
}

.half .select_box .select_topping .accordion-content > div ul li,
.half .select_box .select_side > div ul li {
  width: 100%;
  text-align: center;
  padding: 18px;
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  border: 1px solid #ddd;
  border-collapse: collapse;
  cursor: pointer;
}

.half .select_box .select_topping .accordion-content > div > div > div,
.half .select_box .select_side > div > div,
.half .drink_ect > div {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 12px 16px;
  height: 380px;
  overflow-y: scroll;
}

.select_topping .accordion-content .tabs > li.act,
.half .select_box .select_side > div ul li.act {
  background: #333;
  color: white;
  font-weight: 600;
}

.select_topping .accordion-content > div > div > div > div,
.half .select_box .select_side > div > div > div,
.half .drink_ect > div > div > div {
  display: flex;
  margin-bottom: 8px;
  padding: 6px 0px;
  align-items: center;
  vertical-align: middle;
}

.select_topping .accordion-content > div > div > div > div > div,
.half .select_box .select_side > div > div > div > div {
  align-items: center;
  vertical-align: middle;
}
.select_topping .accordion-content .flex_sb .txt_box,
.half .select_box .select_side .flex_sb .txt_box,
.half .drink_ect > div .txt_box {
  margin-left: 20px;
}

.select_topping .accordion-content .flex_sb .txt_box p,
.half .select_box .select_side .flex_sb .txt_box p,
.half .drink_ect .txt_box p {
  color: #333;
  font-size: 1rem;
  line-height: 1.5rem;
}

.select_topping .accordion-content .flex_sb .txt_box p:nth-child(2),
.half .select_box .select_side .flex_sb .txt_box p:nth-child(2),
.half .drink_ect .txt_box p:nth-child(2) {
  font-weight: 600;
}

.half .select_box .select_side .flex_sb .txt_box > div p:first-child {
  margin-right: 8px;
  text-decoration: line-through;
  color: #888;
}

.select_topping .accordion-content .btn_box,
.half .select_box .select_side .btn_box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 170px;
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 20px 0;
}
.half .select_box .drink_ect > div > div {
  position: relative;
}
.half .select_box .drink_ect .btn_box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 170px;
  border-radius: 30px;
  border: 1px solid #ccc;
  height: 50px;
  transform: translateY(65%);
}

.select_topping .accordion-content .btn_box button,
.half .select_box .select_side .btn_box button,
.half .drink_ect .btn_box button {
  font-size: 0.9rem;
}

.half .select_box .select_number .btn_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 36px;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.half .select_box .select_number .btn_box > button {
  font-size: .9rem;
  color: #333;
}

.half .select_box .select_number .btn_box > :nth-child(2) {
  font-size: 1.2rem;
  color: #333;
}

.product .inner_box article .grid4 .txt_box .new::after {
  content: "NEW!";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  position: relative;
  text-align: center;
  width: 30px;
  height: 18px;
  top: -3px;
  line-height: 18px;
}
.product .inner_box .side_box article .grid4 .txt_box .signiture::after {
  content: "시그니쳐";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  height: 18px;
  line-height: 18px;
  position: relative;
  text-align: center;
  width: 42px;
  top: -3px;
}
.product .inner_box .side_box article .grid4 .txt_box .best::after {
  content: "BEST";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  position: relative;
  text-align: center;
  width: 30px;
  height: 18px;
  line-height: 18px;
  top: -3px;
}

.product .inner_box .side_box article .grid4 .txt_box .discount::after {
  content: "25%할인";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  height: 18px;
  line-height: 18px;
  position: relative;
  text-align: center;
  width: 42px;
  top: -3px;
}

.product .inner_box .side_box article .grid4 .txt_box .limit::after {
  content: "기간한정";
  display: inline-block;
  background: red;
  color: white;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: .55rem;
  height: 18px;
  line-height: 18px;
  position: relative;
  text-align: center;
  width: 42px;
  top: -3px;
}
