* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0px solid red;
}

body {
  font-size: 0.9rem;
  line-height: 1rem;
  word-wrap: break-word;
  word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
}

h1 {
  font-size: 2.3rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

a,
a:visited {
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}

a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 0%;
  height: 100%;
  transition: 0.4s;
}

a:hover::after {
  width: 100%;
}

button {
  background: none;
  width: auto;
  border: none;
  cursor: pointer;
  position: relative;
}

ul {
  list-style: none;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

.flex {
  display: flex;
}
.flex_sb {
  display: flex;
  justify-content: space-between;
}
.flex_sa {
  display: flex;
  justify-content: space-around;
}
.flex_end {
  display: flex;
  justify-content: flex-end;
}
.flex_center {
  display: flex;
  justify-content: center;
}

.App.popupon {
  overflow: hidden;
}

.App.popupon .modal {
  width: 100%;
  height: 100vh;
  position: relative;
}

.App.popupon .modal > :first-child {
  width: 2000px;
  height: 100%;
  z-index: 8;
  background: #095e4b;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1000px;
}

.App.popupon .modal > :nth-child(2) {
  width: 1280px;
  height: 100%;
  position: relative;
  z-index: 9;
  margin: 0 auto;
  outline: 1px solid blue;
}

.App.popupon .modal > :nth-child(2) > :first-child {
  width: 170px;
  height: 50px;
  position: absolute;
  position: absolute;
  top: 36px;
  cursor: pointer;
  outline: 1px solid green;
}

.App.popupon .modal > :nth-child(2) > :nth-child(2) {
  width: 500px;
  height: 250px;
  background-image: url('https://i.ytimg.com/vi_webp/6r_Ujf1q07k/sddefault.webp');
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 333px;
  left: 33px;
  width: 500px;
  height: 254px;
  outline: 1px solid red;
}
.App.popupon .modal > :nth-child(2) > :nth-child(2) iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
